<%layout('layout/boilerplate')%>

<head>
    <link rel="stylesheet" href="../../../css/style.css">
</head>

<script>
    (function () {
        'use strict'
        const forms = document.querySelectorAll('.requires-validation')
        Array.from(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Infomation of <%=user.name%></h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" action="/api/user/<%=user._id%>?_method=PUT" method="post" novalidate>
                        <div class="col-md-12">
                            <label >User name:</label>
                            <input class="form-control" type="text" name="user[name]" value="<%=user.name%>" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <label style="margin-top: 25px">Address:</label>
                            <input class="form-control" type="email" name="user[address]" value="<%=user.address%>" required>
                            <div class="valid-feedback">Address field is valid!</div>
                            <div class="invalid-feedback">Address field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <label style="margin-top: 25px">Role:</label>
                            <select class="form-select mt-3" name="user[role]" required>
                                <option selected disabled value="<%=user.role%>"><%=user.role%></option>
                                <option value="moderator">Moderator</option>
                                <option value="member">Member</option>
                            </select>
                            <div class="valid-feedback">You selected a position!</div>
                            <div class="invalid-feedback">Please select a position!</div>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
