<%layout('layout/boilerplate')%>
<head>
    <script>
        $(Document).ready(function(){
            $("#userInfo").DataTable()
        })

        function deleteItem(id){
            $.ajax({
                url: `/api/user/${id}/delete`,
                type: 'DELETE',
                success: function(result){
                    alert(result)
                }
            })
        }
    </script>
    <link rel="stylesheet" href="/css/datatable.css">
    <link rel="stylesheet" href="/css/twitter-boostrap.css">
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
</head>

<body>
    <table id="userInfo" class="table table-striped" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Up Votes</th>
        <th>Down Votes</th>
        <th>Level</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <a href="/api/user/new">Add new user</a>
    <%for(let user of users){ %>
    <tr>
        <td><a href="/api/user/<%=user.id%>"><%=user.name%></a></td>
        <td><%=user.address%></td>
        <td><%=user.upvote%></td>
        <td><%=user.downvote%></td>
        <td><%=user.level%></td>
        <td><button onclick="deleteItem('<%=user.id%>')">Delete</button></td>
    </tr>
    <%}%>
    </tbody>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Up Votes</th>
        <th>Down Votes</th>
        <th>Level</th>
    </tr>
    </tfoot>
</table>
</body>
