<%layout('layout/boilerplate')%>
<head>
    <link rel="stylesheet" href="../../css/style.css">
    <script>
        function openEditForm(id){
            window.location.replace(`/api/user/${id}/edit`)
        }
    </script>
</head>
<!--<div class="form-body">-->
<!--    <div class="row">-->
<!--        <div class="form-holder">-->
            <div class="form-content">
                <div class="form-items">
                    <h3>Infomation of <%=user.name%></h3>

                        <div class="col-md-12">
                            <label >User name: <%=user.name%></label>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top: 25px">Address: <%=user.address%></label>
                        </div>
                        <div class="col-md-12">
                            <label style="margin-top: 25px">Role: <%=user.role%></label>
                        </div>

                    <a href="/api/user/<%=user._id%>/edit">Edit</a>show
                    <a href="/api/user/">Back</a>
                </div>
            </div>
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
